.appContainer
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.containerBar
{
    background-color: rgb(255, 255, 255)!important;
    /* width: fit-content; */
    border-radius: 0.3rem;
    height: 5rem!important;
    margin-top: 0.5rem;   
    background: red!important;
}
.containerMain
{
    display: flex;
    padding: 1rem;
    /* display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr)); */
}
.containerMain > *
{
    padding: 0.2rem;
    margin: auto;
}
.image
{
    width: 2rem;
}
.hamburger
{
    color: rgb(0, 0, 0);
}


.search {
    background-color: rgb(199, 199, 199);
    /* position: 'relative'; */
    /* // border-radius: theme.shape.borderRadius;
    // backgroundColor: alpha(theme.palette.common.white, 0.15),
    // '&:hover': {
    //   backgroundColor: alpha(theme.palette.common.white, 0.25),
    // }, */
    /* margin-left: -10px; */
    width: 20%;
    display: inline-block;
    /* padding: 0.5rem; */
    border-radius: 0.4rem;
     /* [theme.breakpoints.up('sm')]: {
       marginLeft: theme.spacing(1),
       width: 'auto',
       
     } */
  }
  .input
  {
      width: 50%;
      background-color: transparent;
  }

  .searchIcon {
    width: fit-content;
    position: relative;
    top:0.5rem !important;
    pointer-events: 'none';
    color: rgb(0, 0, 0);
    align-items: 'center';
    justify-content: 'center';
  }
  .contentsMain
{
  /* margin-top: 50%; */
  position: relative;
  position: relative;
    top: 21%;
    width: 100%;
    display: flex;
    flex-direction: column;
  /* top:20% */
}
.refresh
{
    color: rgb(0, 0, 0);
}

.view
{
    color: rgb(0, 0, 0);
}

.setting,.apps,.account
{
    color: rgb(0, 0, 0);
}
.heading
{
    width: fit-content;
}
.inputComponent
{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    height: fit-content;
    background-color: antiquewhite;
    width: 80%;
    border: 2px solid rgb(168, 158, 156);
}
.inputComponent > *
{
    border: none;
}
.inputNoteComponent{height: 3rem; scroll-behavior: smooth;overflow-x: hidden;}
.inputTitleComponent{height: 2rem;font-weight: 700;}