:root
{
    --var-primary-bg:white;
    --var-primary-color:#6e6767;
}
.appContainerLight
{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--var-primary-bg);
    color: var(--var-primary-color);
}

.appContainerDark
{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--var-primary-color);
    color: var(--var-primary-bg);
}
.containerBar
{
    background-color: rgb(255, 255, 255)!important;
    /* width: fit-content; */
    border-radius: 0.3rem;
    height: 5rem!important;
    margin-top: 0.5rem;   
    /* background: red!important; */
}
.containerMain
{
    display: flex;
    padding: 1rem;
    /* display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr)); */
}
.containerMain > *
{
    padding: 0.2rem;
    margin: auto;
}
.image
{
    width: 2rem;
    float: left;
    position: fixed;
}
.hamburger
{
    color: rgb(0, 0, 0);
    display: none!important;
}
.rightFloat
{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.search {
    background-color: rgb(199, 199, 199);
    /* position: 'relative'; */
    /* // border-radius: theme.shape.borderRadius;
    // backgroundColor: alpha(theme.palette.common.white, 0.15),
    // '&:hover': {
    //   backgroundColor: alpha(theme.palette.common.white, 0.25),
    // }, */
    /* margin-left: -10px; */
    width: 20%;
    /* display: inline-block; */
    display: flex;
    /* padding: 0.5rem; */
    border-radius: 0.4rem;
     /* [theme.breakpoints.up('sm')]: {
       marginLeft: theme.spacing(1),
       width: 'auto',
       
     } */
  }
  .input
  {
      width: 50%;
      background-color: transparent;
  }

  .searchIcon {
    width: fit-content;
    position: relative;
    top:0.5rem !important;
    pointer-events: 'none';
    color: rgb(0, 0, 0);
    align-items: 'center';
    justify-content: 'center';
  }
  .contentsMain
{
  /* margin-top: 50%; */
  /* position: relative; */
  /* position: relative; */
    top: 21%;
    position: absolute;

    width: 100%;
    display: flex;
    flex-direction: column;
  /* top:20% */
}
.refresh
{
    color: rgb(0, 0, 0);
}

.view
{
    color: rgb(0, 0, 0);
}

.setting,.apps,.account
{
    color: rgb(0, 0, 0);
}
.heading
{
    width: fit-content;
}
.inputComponent
{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    height: fit-content;
    background-color: antiquewhite;
    width: 80%;
    border: 2px solid rgb(168, 158, 156);
}
.inputComponent > *
{
    border: none;
}
.inputNoteComponent{height: 3rem; scroll-behavior: smooth;overflow-x: hidden;}
.inputTitleComponent{height: 2rem;font-weight: 700;}

@media screen and (max-width: 600px) {
    .rightFloat
    {
        display: none;
    }
    .hamburger
    {
        display: block!important;
        float: right;
        width: 25%;
        float: right;
        margin: auto;
        position: absolute;
        right: 0;
    }
    .clickView
{
    position: absolute;
    align-items: center;
    /* border: 1px solid black; */
    background: hsl(0,0%,100%);
    display: flex;
    right: 0;
    margin: 2%;
    width: 15%;
    top:99%;
    flex-direction: column;
}
}