.containerBar
{
    background-color: rgb(255, 255, 255)!important;
    /* width: fit-content; */
    border-radius: 0.3rem;
    margin-top: 0.5rem;   
}
.containerMain
{
    display: flex;
    padding: 1rem;
    /* display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr)); */
}
.containerMain > *
{
    padding: 0.2rem;
    margin: auto;
}
.image
{
    width: 2rem;
}
.hamburger
{
    color: rgb(0, 0, 0);
}


.search {
    background-color: rgb(199, 199, 199);
    /* position: 'relative'; */
    /* // border-radius: theme.shape.borderRadius;
    // backgroundColor: alpha(theme.palette.common.white, 0.15),
    // '&:hover': {
    //   backgroundColor: alpha(theme.palette.common.white, 0.25),
    // }, */
    /* margin-left: -10px; */
    width: 20%;
    display: inline-block;
    /* padding: 0.5rem; */
    border-radius: 0.4rem;
     /* [theme.breakpoints.up('sm')]: {
       marginLeft: theme.spacing(1),
       width: 'auto',
       
     } */
  }
  .input
  {
      width: 50%;
      background-color: transparent;
  }

  .searchIcon {
    width: fit-content;
    position: relative;
    top:0.5rem !important;
    pointer-events: 'none';
    color: rgb(0, 0, 0);
    align-items: 'center';
    justify-content: 'center';
  }
  .contents
{
  margin-top: 50%;
}
.refresh
{
    color: rgb(0, 0, 0);
}

.view
{
    color: rgb(0, 0, 0);
}

.setting,.apps,.account
{
    color: rgb(0, 0, 0);
}
.heading
{
    width: fit-content;
}